@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
}

.b {
	border: solid 1px black;
}

.imgSize {
	width: 30rem;
	height: 30rem;
}

.Product_img {
	width: 33rem;
	height: 33rem;
	float: left;
	margin-left: 8rem;
	marign-right: 10rem;
}

.Product_info {
	width: 40rem;
	height: 20rem;
	float: left;
	margin-top: 3rem;
}

.Product {
	width: 100%;
	height: 30rem;
}

.name {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 1rem;
	text-align: left;
}

.price {
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 1rem;
	text-align: left;
}

input[type="text"] {
	width: 30px;
	height: 30px;
	text-align: center;
	border:none;
 }	

.info {
	text-align: left;
	margin-left: 1rem;
}

table{
	text-align:left;
	width:400px;
	margin:1rem;	
	
}
th, td{
text-align:left;
font-size:13px;
height:10px;
}

.count{
	width:100%;
	heigth:300px;
	float:left;
	text-align:center;
	margin:5px;
	margin-left: 1rem;
}

.content_right{margin:20px; width:520px; padding-top:30px;}
.content_right h2{font-size:32px; height:50px; color:#444; line-height:1;   border-bottom:1px solid #dfdfdf;}
.content_right dl{display:table; width:100%; float:left; }
.content_right dl dt{display:table-cell; vertical-align:top; width:20%; float:left;}
.content_right dl dd{display:table-cell; vertical-align:top; width:80%; float:left;}

.plus{float:left;  width:30px; height: 30px;}
.minus{float:left;  width:30px; height: 30px;} 
.qty{float:left;}
.totalamount{text-align:left; margin-left: 1rem; }

