@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
	items-align: center;
}

.b {
	border: solid 1px black;
}

.imgSize {
	width: 30rem;
	height: 30rem;
}

.imgSize2 {
	width: 75rem;
	height: 70%;
	margin-left: 50px;
}


.Product_img {
	width: 33rem;
	height: 33rem;
	float: left;
	margin-left: 8rem;
	marign-right: 10rem;
	margin-top:1.5rem;
}

.Product_info {
	width: 40rem;
	height: 20rem;
	float: left;
	margin-top: 1rem;
}

.Product {
	width: 110rem;
	height: 55rem;
	margin: 0 auto;
	margin-left: 50px;
}

.name {
	font-size: 1.8rem;
	font-weight: bold;
	margin-left: 1rem;
	text-align: left;
}

.price {
	font-size: 1.8rem;
	font-weight: bold;
	margin-left: 1rem;
	text-align: left;
}

input[type="text"],[type="number"] {
	width: 40px;
	text-align: center;
	border:none;
	background-color: #F7F7F7;
 }	

.info {
	text-align: left;
	margin-left: 1rem;
	font-weight: bold;
}

.dev{
	text-align:left;
	width:400px;
	margin:1rem;
	border-top: none;
	text-align: left;
}

.devt{
text-align:left;
font-size:13px;
height:10px;
background-color: white;
text-align: left;
}

.devth{
	width:20%;
	background-color: white;
	text-align: left;
}


.content_right{margin:20px; width:520px; padding-top:30px;}
.content_right h2{font-size:32px; height:50px; color:#444; line-height:1;   border-bottom:1px solid #dfdfdf;}
.content_right dl{display:table; width:100%; float:left; }
.content_right dl dt{display:table-cell; vertical-align:top; width:20%; float:left;}
.content_right dl dd{display:table-cell; vertical-align:top; width:80%; float:left;}

.plus{float:left;  height: 30px;}
.plus1{float:left;  height: 30px; width:30px; margin-left: 0.5rem;}
.minus{float:left;  width:30px; height: 30px;} 
.qty{float:left; margin-left: 1rem; }
.totalamount{text-align:right; margin-left: 1rem;}
.amount{font-size:20px; font-weight:bold;}
.amount2{font-size:30px; font-weight:bold; color:red;}


select {
width: 100%;
padding: 0.5rem 0.3rem;
border: 1px solid #999;
font-family: inherit;
background: url('../../resources/image/arrow.jpg') no-repeat 95% 50%;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
text-align-last: left;
text-align: left;
-ms-text-align-last: left;
-moz-text-align-last: left;
margin-left: 1rem;
}
option{
text-align-last: left;
text-align: left;
-ms-text-align-last: left;
-moz-text-align-last: left;	

}


.mainmenu{
	width:100%;
	heigth:300px;
	text-align: left;
	background-color: #EEECEC;
}

.count{
	width:100%;
	heigth:400px;
	float:left;
	text-align:center;
	margin:5px;
	margin-left: 1rem;
	background-color: #F7F7F7;
	border: 1px solid #E5E5E5;
	
}
.optionname{
	font-size:18px;
	text-align:left;
	margin-left: 1rem;
	margin-top:0.5rem;
}
.arrow{cursor:pointer;}
i{cursor:pointer;}
.opt{margin-left: 1rem;}
.opt_amount{font-size:13px; float:right; margin-right:-430px;}
.opt2{font-size:15px; font-weight:bold;}
.click{cursor:pointer;}
.image{width:800px; height:1000px; margin-top:20rem;}
.imagebox{}
hr{margin-left:1rem;}
.opri{font-size:13px;}


.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	width:400px;
	
}

.centered {
           display: block;
        margin-left: auto;
        margin-right: auto;
      }

nav-tabs>li {
	float: none;	
	display: inline-block;
	zoom: 1;
}

.nav-tabs {
	text-align: center;
	width:900px;

}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}

@media ( prefers-reduced-motion : reduce) {
	.nav-link {
		transition: none;
	}
}

.nav-link:hover, .nav-link:focus {
	color: #0a58ca;

}

.nav-link.disabled {
	color: #6c757d;
	pointer-events: none;
	cursor: default;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
	

}

.nav-tabs .nav-link {
	margin-bottom: -1px;
	background: none;
	border: 1px solid transparent;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	width:300px; 
	float: left;
	font-weight: bold;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border-color: #e9ecef #e9ecef #dee2e6;
	isolation: isolate;

}

.nav-tabs .nav-link.disabled {
	color: #6c757d;
	background-color: transparent;
	border-color: transparent;

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nav-pills .nav-link {
	background: none;
	border: 0;
	border-radius: 0.25rem;
	background-color: #E0E4E0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #0d6efd;
}

.nav-fill>.nav-link, .nav-fill .nav-item {
	flex: 1 1 auto;
	text-align: center;
}

.nav-justified>.nav-link, .nav-justified .nav-item {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;
}

.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
	width: 100%;
}

.tab-content>.tab-pane {
	display: none;
}

.tab-content>.active {
	display: block;
}

.text-center{
	margin-top: 2rem;
	
}

table {
	align-items: center;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #444444;
	border-collapse: collapse;
	width: 800px;
	font-size: 13px;
	text-align: left;
}

th, td {
	border-bottom: 1px solid #444444;
	text-align: center;
}

.th-1{width: 400px; height:40px;border-bottom: 1px solid #E6E6E6;}

.td-1{height:40px;
border-bottom: 1px solid #E6E6E6;}

th {
	background-color: #F5F5F5;
}



